@font-face {
    font-family: "Inter";
    src: url('./assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}

:root {
    /* colors */
    --grey-900: hsl(0, 0%, 8%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-700: hsl(0, 0%, 20%);

    --green: hsl(75, 94%, 57%);

    --white: hsl(0, 0%, 100%);

    /* Font */
    
    --font-inter: "Inter";

    /* Spacing */

    --spacing-500: 40px;
    --spacing-300: 24px;
    --spacing-200: 16px;
    --spacing-150: 12px;
    --spacing-100: 8px;
    --spacing-50: 4px;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    height: 88px;
    width: 88px;
    border-radius: 50%;
    margin-bottom: 24px;
}

body {
    font-family: var(--font-inter);
    height: 100vh;
    width: 100vw;
    background-color: var(--grey-900);
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    gap: 24px;
    width: 384px;
    height: 611px;
    padding: var(--spacing-500);
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--grey-800);
    color: white;
    border-radius: 12px;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h4 {
    font-weight: 600;
    line-height: 150%;
    padding-bottom: 4px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.subtext {
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    color: var(--green);
    padding-bottom: 24px;
}

.quote {
    font-size: 14px;
    line-height: 150%;

}

li {
    background-color: var(--grey-700);
    padding: 12px;
    color: white;
    border-radius: 8px;
    transition: background-color 0.2s ease;
    cursor: pointer;
    align-self: stretch;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

li:hover {
    background-color: var(--green);
}

.buttons{
    width: 100%;
}

/* Media queries */

@media (max-width: 900px) {
    main {
        width: 456px;
    }
}

 @media (max-width: 600px) {
    main {
        width: 327px;
    }
    .heading {
        text-align: center;
    }
 }